:root {
    --viridian: #6B9080;
    --cambridge-blue: #A4C3B2;
    --mint-green: #CCE3DE;
    --azure: #EAF4F4;
    --mint-cream: #F6FFF8;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: white;
}


#navbar {
    width: 100%;
    display:flex;
    justify-content: space-around;
    background-image: linear-gradient(to top, white, var(--azure),var(--mint-green));
    height: 10rem;
}

.link {
    margin: 3%;
    color: black;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    transition: 0.4s;
    max-width: 15%;
    height: 7%;
    text-align: center;
    padding: 0.9% 1.5% 0.9% 1.5%;
    border-radius: 6px;
}

a{
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

a:hover {
   opacity: 20%;
}

#home-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%;
}

#intro-container {
    width: 50%;
    margin-top: 8%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

#intro-container p {
    margin-top: 0%;
}

#image-container {
    width: 50%;
    margin: 0% 5% 0% 5%;
}

#profile-image {
    border-radius: 60px;
    margin: 9% 4% 5% 2%;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 250%;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 200%;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 150%;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
}

footer {
    background-image: linear-gradient(to bottom, white, var(--azure),var(--mint-green));
    width: 300rem;
    height: 20rem;
}

.divider {
    border: 2px solid grey;
    width: 90%;
    margin-top: 13%;
    border-radius: 10px;
}

.section-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
}

/*Skills display related*/

#skills-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5em;
    align-items: center;  
}

.skill-box:hover, .project-box:hover {
    opacity: 60%;

}

.skill-box {
    margin: 1.2%;
    display: flex;
    align-items: center;
    width: 35%;
    min-height: 49%;
    justify-content: center;
    padding: 0.4% 3% 0.6% 0;
    border-radius: 25px;
    border: 5px solid black;
    transition: opacity 0.3s;
}

.skill-title {
    margin-bottom: 0;
}

.skill-desc-box {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    height: 40%;
}

.skill-paragraph {
    margin-top: 1%;
}

.skill-image {
    margin-left: 6%;
    object-fit: cover;
}

/*Projects box related*/

#projects-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    overflow: hidden;
    width: 100%; 
}

.project-box {
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    width: 28%;
    height: 90%;
    justify-content: center;
    padding: 0.5% 1% 1% 1%;
    border-radius: 20px;
    flex-direction: column;
    border: 5px solid black;
}

.project-icon {
    border-radius: 20px;
    margin-top: 3%;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    
    
}

.project-desc-box {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.project-desc {
    margin-top: 7%;
}

.category-box {
    width: 10%;
    height: 20%;
    justify-self: center;
    margin: 2% auto 2% auto;
    text-align: center;
    border-radius: 10px;
   
}

#projects-carousel {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6em;
    transition: all 0.7s ease-in-out;
}

#skills-section, #projects-section, .awards-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

/*Timeline classes*/

#timeline-section {
    margin-left: 17%;
}

.year-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.year-container:nth-child(1) {
    margin-top: 3%;
}

.timeline-circle {
    height: 35px;
    width: 35px;
    margin-left: 5%;
    background-color: black;
    border-radius: 30px;
    position: relative;
    left: 20%;
}

.year-title {
    font-size: 50px;
    margin-bottom: 5%;
    margin-top: 0;
}


.line {
    background-color: black;
    width: 5px;
    height: 600px;
    margin-left: 9%;
    position: relative;
    left: 58%;
}

.fading-line {
    background-image: linear-gradient(to bottom, black, white);
}

.timeline-container {
    margin-left: 2%;
}

.timeline-container:nth-child(1) {
    margin-top: 2%;
}

#timeline-title {
    margin: 7% 0 5% 13%;
}

.awards-container {
    margin-left: 3%;
}

.award-text {
    margin-top: 1%;
    cursor: pointer;
    margin-right: 50%;
    height: 100%;
    width: 150%;
    transition: 0.3s;
}

.award-text:hover {
    color: rgb(141, 139, 139);
}

#greetings-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Modal classes*/

.modal {
    position: fixed; 
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    transition: top 0.4s, opacity 0.4s ease;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 12% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    border-radius: 10px;

  }

  .show-popup {
    top: 0;
    opacity: 100%;
  }

  .close-popup {
    opacity: 0%;
  }
  
  .close {
    color: black;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: lightgray;
    text-decoration: none;
    cursor: pointer;
  }

  #modal-title, 
  #modal-text {
    margin-left: 3%;
  }

  #modal-title {
    margin-bottom: 4%;
  }

  #modal-text{
    margin-bottom: 5%;
  }

  #content-container {
    padding: 10px;
  }
@keyframes showInfo {
    0% {opacity: 0%}
    100% {opacity: 100%}
}


@keyframes hideInfo {
    0% {opacity: 100%}
    100% {opacity: 0%}
}


/* Shorthand classes */

.ml-1 {
    margin-left: 1%;
}

.ml-2 {
    margin-left: 2%;
}

.ml-3 {
    margin-left: 3%;
}

.ml-4 {
    margin-left: 4%;
}

.ml-5 {
    margin-left: 5%;
}

.mt-1 {
    margin-top: 1%;
}

.mt-4 {
    margin-top: 4%;
}

.ml-15 {
    margin-left: 15%;
}

.ml-6 {
    margin-left: 6%;
}

.mt-20 {
    margin-top: 20%;
}


